<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Defqon timeTabler</title>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/functions.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    <div id="views">
        <button id="view_time_table">Time Table</button>
        <button id="view_planning">Planning</button>
        <div id="views_users"></div>
    </div>

    <div id="table_anchor">
        <div id='table_header'></div>
        <div id='table_body'>
            <div id='table_body_header'></div>
            <div id='day_panel'></div>
        </div>
    </div>
</body>
</html>