body {
    background-image: url("../assets/defqon-bg-black.jpg");
    color: #8a8a90;
    font-family: trim_Regular, sans-serif;
}

#users {
    height: 5vh;
}

#table_anchor {
    border: 1px solid black;
    margin: 15px;
    background: #1F1E1E;
    height: 90vh;
}

#table_body {
    overflow: auto;
    white-space: nowrap;
    height: calc(100% - 45px);
    width: 100%;
}

.day_tab {
    display: inline-block;
    width: 25%;
    margin: 0;
    border: 0;
    padding: 15px;
    background: #1F1E1E;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.day_tab:hover {
    color: white;
}

.day_selected {
    background: linear-gradient(270deg, #e73e11, #f59e00);
    color: white;
}

#day_panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.stage_header {
    display: inline-block;
    width: 190px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: white;
}

.stage_panel {
    padding: 15px;
}

.slot_panel {
    text-align: center;
    background: #8a8a90;
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
    vertical-align: middle;
    width: 190px;
    border-radius: 10px;
}

.slot_panel_header {
    height: 10px;
    display: flex;
}

.slot_panel_header_tab {
    height: 100%;
    display: inline-block;
}

.slot_panel_content {
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    display: block;
    padding: 5px;
    font-size: small;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.slot_panel_content span {
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.user_view_button{
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
    background-color: #1F1E1E;
    cursor: pointer;
    margin: 0 3px;
}

.user_view_button.selected{
    background: linear-gradient(270deg, #e73e11, #f59e00);
    color: white;
}

.user_view_button:hover{
    color: white;
}

.remove_user{
    margin-left: 5px;
    cursor: pointer;
}

.remove_user:hover{
    font-weight: bold;
}

#user_view_buttons{
    margin: 10px;
}

#user_view_buttons, #add_user_panel{
    display: inline-block;
}

.add_user_result_unit_panel{
    padding: 5px;
    width: 200px;
    border: 2px solid black;
    background-color: #1F1E1E;
    cursor: pointer;
}

.add_user_result_unit_panel:hover{
    color: white;
}

#add_user_result_panel{
    position: absolute;
}